body {
  background-color:#F8CF7F;
  margin : 0px auto;
}

#recipePageLogo {
  width: 30%;
  border-radius: 50%;
  padding-top: 3%;
}

.titles {
  font-family: "Irish Grover", serif;
  font-size: 200%;
  color: #00C4DE;
}

a {
  text-decoration: none;
}

hr {
  border-top: 30px dashed #00C4DE;
}

.mission {
  color: #40494d;
}

.nav ul {
  list-style-type: none;
  width: 100%;
  margin: 1%;
  background-color: #00C4DE;
}

.nav li {
  float: left;
  width: 14%;
  font-family: "Mynerve", serif;
  font-size: 134%;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 13%;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #75C414;
}

.active {
  background-color: #04AA6D;
}

#searchBarId {
  width: 90%;
  background: linear-gradient(90deg,white,#03C6E0); 
  padding: 1%;
  margin: 1%;
}

.card.navCard{
  width: 20%;
  float: left;
  height: 90%;
  padding: -1%;
  border: 10px solid black;
}

.thirdRow {
  font-family: "Irish Grover", serif;
  color: #00C4DE;
  margin-top: 3%;
}

#youtubeVideo {
  width: 75%;
  border: 0;
  display: block;
  margin: auto;
}

p {
  font-family: "Mynerve", serif;
  font-size: 120%;
}

.description{
  width: 600px;
  text-align: center;
}

.card.individualRecipiesCard{
  width: 50%;
  float: left;
  border: 5px solid black;
  height: 59%;
}

.card.individualRecipiesCard img{
  height: 300px;
}
.starRating.checked {
  color: gold;
}

footer{
  margin-top: 4%;
}

.fa {
  font-size: 60%;
  width: 10%;
  text-align: center;
  text-decoration: none;
  border-radius:  50%;
}


@media (min-width: 0px) and (max-width: 1140px){
  header{
    background-color: lightcoral;
  }
}

@media (min-width: 1140px) {
  body {
    background-color: #F8CF7F;

  }
}