body{
  font-family: Gaegu;
  /* override the blue background */
  background-image: linear-gradient(white, rgb(255, 102, 0), black) !important;
  background-color: blue;
}

.container {
  margin: 0, auto;
}

h1 {
  background: linear-gradient(white, black);
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-size: 300%;
}

.grid-container {
  /* background-color:black; */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 1%;
}

.grid-container > div {
  /* background-color: pink; */
  text-align: center;
  font-size: 30px;
}

.row1-col1-6 {
  /* background-color: aqua; */
  grid-column-start: 1;
  grid-column-end: 6;
}

.row2-col1-4 {
  /* background-color: red; */
  grid-column-start: 1;
  grid-column-end: 5;
}

.row2-col5-6 {
  /* background-color:gold; */
  grid-column-start: 5;
  grid-column-end: 6;
}

footer {
  grid-column-start: 5;
  grid-column-end: 6;
  margin-left: 1%;
  margin-top: 2%;
  /* background-color: green; */
  text-align: center;
  color: white;
} 

#profile-picture {
  width: 20%;
  height: 20%;
  border: 10px solid red !important;
  border: 10px solid white;
  border-radius: 50%; 
  margin-top: 1%;
  margin-bottom: -6%;
}
#self-description {
  margin-top: -3%;
}

a {
  text-decoration: none;
  color: black;
}

.side-nav li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  padding: 1%;
  border-radius: 9%;
}

.side-nav li a:hover {
  color: white;
}

.past-experiences ul li {
  list-style-type: none;
  /* background-color: blue; */
}
.individul-experience-container {
  display: inline-flexbox;
  width: 25%;
  height: 100px;
  /* line-height: 10px; */
  border-radius: 25%;
  border: 2px solid white;
  background-color: black;
  margin-left: 5%;
  margin-bottom: %;
}

.fa-html5, .fa-css3-alt, .fa-square-js, .fa-database, .fa-python, .fa-java {
  color: white;
  border-radius: 45%;
  border: 35px solid rgb(0, 47, 202);
  margin-left: -20%;
  background-color: blue;
}

.experience-text {
  color: white;
  display: inline-flex;
  margin-left: 2%;
}

.fa-star {
  margin-top: 50px;
}
.checked {
  color: white;
}

.contact-form {
  width: 100%;
  /* background-color: indianred; */
}

input {
  width: 95%;
}

/* Media Queries */
/* for narrow screen */
@media screen and (max-width: 600px) {
  h1 {
    font-family: "Silkscreen", serif;
  }
}

/* for medium screens */
@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    color: blue;
  }
}

/* for wide screen */
@media screen and (min-width: 1300px) {
  h1 {
    font-family: "Edu AU VIC WA NT Guides", serif;
  }
}